#card-form {
    display: flex;
    justify-content: center;
}

#loading {
    width: 256px;
    margin: auto;
}

#card-list {
    display: flex;
    flex-flow: row wrap;
}

.card {
    width: 223px;
    margin: 3px;
}